.autoBox {
  max-height: 70%;
  padding: 0 10px;
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.336);
}

.searchBox {
  margin-top: 10px;
  width: 100%;
  height: 20px;
  outline: none;
  border: none;
}

.wL {
  display: none;
  margin: 0;
  padding: 0;
}

.showList {
  display: block;
}

.word {
  list-style: none;
}

.word:hover {
  background-color: whitesmoke;
}

/* .searchBox:focus + .wL {
  display: block;
} */
