* {
  transition: 500ms;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
}

.toggleBox {
  display: flex;
  position: absolute;
  justify-content: left;
  width: 50px;
  border-radius: 40px;
  border: 1px solid none;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.336);
  /* -1px -1px 5px rgba(128, 128, 128, 0.096); */
  background-color: whitesmoke;
}
.toggleBtn {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 40px;
  background-color: aquamarine;
  background: radial-gradient(
    rgb(85, 253, 197),
    rgba(127, 255, 212, 1),
    rgba(33, 122, 109, 1)
  );
  /* box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.336); */
}

.bgImg {
  position: absolute;
  top: -20px;
  left: -110px;
  width: 70px;
  height: 25px;
  background-color: rgb(33, 122, 108);
  background: radial-gradient(
    rgb(33, 122, 108),
    rgba(33, 122, 109, 0.9),
    rgba(33, 122, 109, 0.5)
  );
}

/* 버튼 애니메이션 */
.btnMove {
  transform: translateX(25px);
}

/* 배경 애니메이션 */
.bgMove {
  transform: translateX(65px);
}
