* {
  transition: 500ms;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
}

.btnBox {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 10px;
  position: relative;
}

.toggleBox {
  display: flex;
  justify-content: left;
  width: 60px;
  border-radius: 40px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}
.toggleBtn {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 40px;
  background-color: aquamarine;
  z-index: 1;
}

.bgImg {
  position: absolute;
  top: -20px;
  left: -100px;
  width: 70px;
  height: 25px;
  background-color: cornsilk;
}

.btnMove {
  transform: translateX(40px);
}

.bgMove {
  transform: translateX(60px);
}
